<link href=@Url.Content("../../CSS/style.css") rel="stylesheet">
@model ProjetAspnet.Models.Commande
@{
    ViewBag.Title = "Merci";
}

<h2>Merci</h2>
<div>@Model.IdClient</div>
<div>@Model.Date</div>
<div>@Model.PrixTotal</div>
<div>@Model.Infos</div>
